body {
    margin: 0;
}

.topContainer{
    display: grid;
    border: 2px solid black;
    /*explicit grid specifications, fr as in fractional unit like a fraction of the space in container if that makes sense*/
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    /*Should only apply to the implicit grid*/
    grid-auto-columns: minmax(0, 2fr);
    /*Could use grid gap but would need me to use same values i think for the gutters*/
    grid-column-gap: 30px
}

#topText{
    padding-top: 100px;
}
.gridItems{
    text-align: center;
    border: 2px dotted black;
}


.gridItems:nth-child(even){
    border: 2px solid black;
}

.midContainer{
    margin: auto;
    height: 50%;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid black;
    /*grid gap here covers both column and row gutter gap!*/
    grid-gap: 10px;
    margin-top: 5%;
}

.midGridItems{
    text-align: center;
    border: 2px dotted red;
}

.ImageSection{
    margin-bottom: 15px;
    border: 2px dotted blue;
}

.textSection{
    border: 2px solid purple;
}

#placeholder{
    padding: 0;
    object-fit: cover;
}

/*
Learned from here: 
https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Grid_layout/Grid_template_areas
looks like it uses the start end stuff [prob for more], this stems into week 10, but wanted to see the difference here!
*/
.gridArea{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    padding: 10px;
    grid-template-areas:
    'item1 item1'
    'item3 item3'
    'item2 item2';
    grid-gap: 5px;
}

#item1{
    grid-area: item1;
    background-color: red;
}
#item2 {
    grid-area: item2;
    background-color: blue;
}
#item3{
    grid-area: item3;
    background-color: green;
}