body {
    margin: 0;
}

.topContainer{
    display: grid;
    border: 2px solid black;
    /*explicit grid specifications, fr as in fractional unit like a fraction of the space in container if that makes sense*/
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    /*Should only apply to the implicit grid*/
    grid-auto-columns: minmax(0, 2fr);
    /*Could use grid gap but would need me to use same values i think for the gutters*/
    grid-column-gap: 30px
}
.gridItems{
    padding: 100px;
    text-align: center;
    border: 2px dotted black;
}

.gridItems:nth-child(even){
    border: 2px solid black;
}


.midContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid black;
    /*grid gap here covers both column and row gutter gap!*/
    grid-gap: 10px;
    margin-top: 5%;
}

.midGridItems{
    text-align: center;
    border: 2px dotted red;
}

.ImageSection{
    padding: 10%;
    margin-bottom: 15px;
    border: 2px dotted blue;
}

.textSection{
    border: 2px solid purple;
}
