/*
From: https://www.w3schools.com/cssref/atrule_media.php
"The CSS @media rule is used in media queries to apply different styles for different media types/devices.

Media queries can be used to check many things, such as:

width and height of the viewport
width and height of the device
orientation (is the tablet/phone in landscape or portrait mode?)
resolution
Using media queries are a popular technique for delivering a tailored style sheet (responsive web design) to desktops, laptops, tablets, and mobile phones.

You can also use media queries to specify that certain styles are only for printed documents or for screen readers (mediatype: print, screen, or speech).

In addition to media types, there are also media features. Media features provide more specific details to media queries, by allowing to test for a specific feature of the user agent or display device. For example, you can apply styles to only those screens that are greater, or smaller, than a certain width."
So then what wouldbe the specifications for each type of device? Are there recommended standards to view?
idk if this helps: https://css-tricks.com/a-complete-guide-to-css-media-queries/


*/
@media (min-width: 600px){
    .siteWrapper{
        display:grid;
        grid-template-rows: 1fr 1fr 2fr; /*Adding more space for the output portion!*/
        grid-template-areas:
        "headerContent"
        "mainContent"
        /*playing around with this, by adding headerContent: it makes the page collapse on itself*/
        "footerContent";
        grid-row-gap: 10px;
        grid-column-gap: 20px;
        border: 3px solid blue; 
    }
}
.headerContent{
    grid-area: headerContent;
}
.mainContent{
    grid-area: mainContent;
}
.footerContent{
    grid-area: footerContent;
}





